.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 20px;
}

.logo {
  display: inline-flex;
  align-items: center;
  color: MediumAquamarine;
  }

nav span {
  display: inline-block;


  }

nav a {
  color: black;
  }
